h1 {
    background-color: rgb(79, 98, 184);
    color: white;
    line-height: 1.5;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px
    
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

@media (max-width: 600px) {
    
    .table, .table thead, .table tbody, .table th, .table td, .table tr {
        font-size: 0.6rem;
        padding: 2px;
    }

    #buscar, #preview {
        width: 100%;
        font-size: 0.8em;
    }
    
    #preview {
        overflow-y: scroll;
        max-height: 150px;
    }

/*
*-------------------------------------------------------------------------*
*                             Fin Query Tablas                            *
*-------------------------------------------------------------------------*
*/
    

    h1 {
        font-size: 1.5em;
        padding: 5px;
        line-height: 3;
        height: auto;

    }
    .containerdos {
        padding: 10px;
    }
    .form-control {
        font-size: 1em;
    }
    .btn {
        width: 100%;
    }


}




/* .svg-container {
    position: absolute;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    margin-right: 50%;
    left: 90%;
    transform: translateY(-10%);
}
.svg-img {
    height: 50px;
    fill: white;
}
 */
.asv {
    font-size: small;
    color: rgb(129, 129, 129);
    text-align: right;
    font-family: monospace;
}

.asvbot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-size: 12px;
}

body, html {
    height: 100%;
    margin: 0;
}

.containerdos {
    min-height: 100%;
    position: relative;
}

#preview option:hover {
    background-color: rgba(79, 98, 184, 0.8);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}