h1 {
    background-color: rgb(66, 89, 189);
    color: white;
    line-height: 1.5;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px
    
}

.igeh1 {
    background-color: rgb(134, 66, 189);
    color: white;
    line-height: 1.5;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px
    
}

.igeresultado {
    background-color: rgb(134, 66, 189);
    color: white;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    
}

.display-between {
    display: flex;
    justify-content: space-between;
}

.btn-morado {
    color: #fff;
    background-color: rgb(134, 66, 189);

    
}

.btn-morado:hover {
    color: #fff;
    background-color: rgb(113, 55, 160);
}

.btn-morado2 {
    color: #fff;
    background-color: rgba(134, 66, 189, 0.2);
    color: rgb(113, 55, 160);
    border: solid 1px rgb(133, 66, 189);
    
}

.btn-morado2:hover {
    color: #fff;
    background-color: rgb(134, 66, 189);
}

.btn-morado2:active {
    color: #fff;
    background-color: rgb(165, 79, 235);
}

input {
    margin-top: 10px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    margin: 0 1px;
}

@media (max-width: 600px) {
    
    .table, .table thead, .table tbody, .table th, .table td, .table tr {
        font-size: 0.6rem;
        padding: 2px;
    }
    

    h1 {
        font-size: 1.5em;
        line-height: 3;
        height: auto;

    }
    .containerdos {
        padding: 10px;
    }
    .form-control {
        font-size: 1em;
    }
    .btn {
        width: 100%;
    }


}




/* .svg-container {
    position: absolute;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    margin-right: 50%;
    left: 90%;
    transform: translateY(-10%);
} */
.svg-img {
    height: 1em;
    fill: white;
}

.asv {
    font-size: small;
    color: rgb(129, 129, 129);
    text-align: right;
    font-family: monospace;
}

.asvbot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-size: 12px;
}

body, html {
    height: 100%;
    margin: 0;
}

.containerdos {
    min-height: 100%;
    position: relative;
}

#preview option:hover {
    background-color: rgba(79, 98, 184, 0.8);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.panelpoint {
    cursor: pointer ;
    text-decoration: underline;
    color: #007bff;

}

.panelpoint:hover {
    color: rgb(134, 66, 189);
    text-shadow: 2px 2px 4px rgba(134, 37, 175, 0.5);
}
.panelpoint:active {
    color: rgb(219, 97, 250);
    
}