h1 {
    background-color: rgb(79, 98, 184);
    color: white;
    text-align: center;
    line-height: 75px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.asv {
    font-size: small;
    color: rgb(129, 129, 129);
    text-align: right;
    font-family: monospace;
}

.asvbot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-size: 12px;
}

body, html {
    height: 100%;
    margin: 0;
}

.containerdos {
    min-height: 100%;
    position: relative;
}